<!DOCTYPE html>
<html>
    <head>
        <title>Blitzmarine Database | About</title>
        <link rel="icon" href="/static/assets/bm_logo_new.png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://lib.cadenchau.com/lib.css">
        <link rel="stylesheet" href="/static/styles/globals.css">
        <link rel="stylesheet" href="/static/styles/style.css">
        <script src="https://lib.cadenchau.com/lib.js"></script>
        <script src="/static/scripts/script.js"></script>
    </head>
    <body>
        <div class="navigation">
            <div class="centered-vertically">
                <a href="/about">About</a>
                <a href="/announcements">Announcements</a>
                <a href="/news">News</a>
            </div>
            <div class="centered-vertically">
                <a href="/" class="centered-vertically" style="gap: 0; text-decoration: none">
                    <img class="navigation-icon" src="/static/assets/icon_blitzmarine.png">
                    <h2 class="text-accent">Blitzmarine</h2>
                </a>
            </div>
            <div class="centered-vertically" style="justify-content: right;">
                <a href="/members">Members</a>
                <a href="/events">Events</a>
            </div>
        </div>
        <div class="content centered-children">
            <div class="wrapper">
                <h2>About</h2>
                <h3>
                    Blitzmarine is a Naval Warfare faction founded by Taxolous on June 29th 2024. With over 100+ active personnel and 12 officers, Blitzmarine is one of the largest and most active groups in the Naval Warfare community.
                </h3>
                <br>
                <h2>History</h2>
                <h3>
                    Taxolous, the founder of BM had made other factions too such as Naval Warfare Organization (NWO) which is his earliest faction, then one of the biggest factions of its time Federation of Taxation (FoT) was made after the NWO had disbanded and another group which wasn't known very much called Imperial Athena Fleet (IAF) was also created after the FoT's disbandment in (i forgot), yet again ANOTHER! faction was created by Taxolous called Imperial Fleet (IF) which had more success than IAF and finally the final faction of Taxolous called Blitzmarine was established which is the most successful faction made by him up to this day.
                </h3>
                <br>
                <h2>Achievements</h2>
                <div class="achievements-container">
                    <div class="achievement">
                        <div class="achievement-icon centered-vertically">
                            <div class="centered-children">
                                <span>
                                    &#x2B22;
                                </span>
                                <img src="/static/assets/icon_merge.svg">
                            </div>
                        </div>
                        <div class="centered-vertically achievement-header">
                            <h3>Merger</h3>
                            <span>8/18/24</span>
                        </div>
                        <h4>Blitzmarine merged with Kreigsmarine Bac (KMB)</h4>
                    </div>
                    <div class="achievement">
                        <div class="achievement-icon centered-vertically">
                            <div class="centered-children">
                                <span>
                                    &#x2B22;
                                </span>
                                <img src="/static/assets/icon_merge.svg">
                            </div>
                        </div>
                        <div class="centered-vertically achievement-header">
                            <h3>Merger</h3>
                            <span></span>
                        </div>
                        <h4>Blitzmarine merged with Royal Rokovan Navy (RRN)</h4>
                    </div>
                    <div class="achievement">
                        <div class="achievement-icon centered-vertically">
                            <div class="centered-children">
                                <span>
                                    &#x2B22;
                                </span>
                                <img src="/static/assets/icon_merge.svg">
                            </div>
                        </div>
                        <div class="centered-vertically achievement-header">
                            <h3>Merger</h3>
                            <span></span>
                        </div>
                        <h4>Blitzmarine merged with United Federation (UF)</h4>
                    </div>
                    <div class="achievement">
                        <div class="achievement-icon centered-vertically">
                            <div class="centered-children">
                                <span>
                                    &#x2B22;
                                </span>
                                <img src="/static/assets/icon_skirmish.svg">
                            </div>
                        </div>
                        <div class="centered-vertically achievement-header">
                            <h3>Skirmish</h3>
                            <span>10/19/24</span>
                        </div>
                        <h4>Blitzmarine beat CoTS in skirmish for a 2-0 Blitzmarine victory</h4>
                    </div>
                    <div class="achievement">
                        <div class="achievement-icon centered-vertically">
                            <div class="centered-children">
                                <span>
                                    &#x2B22;
                                </span>
                                <img src="/static/assets/icon_skirmish.svg">
                            </div>
                        </div>
                        <div class="centered-vertically achievement-header">
                            <h3>Skirmish</h3>
                            <span>10/27/24</span>
                        </div>
                        <h4>Blitzmarine beat EAU in skirmish for a 2-0 Blitzmarine victory</h4>
                    </div>
                    <div class="achievement">
                        <div class="achievement-icon centered-vertically">
                            <div class="centered-children">
                                <span>
                                    &#x2B22;
                                </span>
                                <img src="/static/assets/icon_skirmish.svg">
                            </div>
                        </div>
                        <div class="centered-vertically achievement-header">
                            <h3>Skirmish</h3>
                            <span>11/2/24</span>
                        </div>
                        <h4>Blitzmarine beat ONB in skirmish for a 1-0 Blitzmarine victory</h4>
                    </div>
                    <div class="achievement">
                        <div class="achievement-icon centered-vertically">
                            <div class="centered-children">
                                <span>
                                    &#x2B22;
                                </span>
                                <img src="/static/assets/icon_record.svg">
                            </div>
                        </div>
                        <div class="centered-vertically achievement-header">
                            <h3>World Record</h3>
                            <span>8/25/24</span>
                        </div>
                        <h4>Blitzmarine achieved the world record for fastest win with a time of 2:45</h4>
                    </div>
                    <div class="achievement">
                        <div class="achievement-icon centered-vertically">
                            <div class="centered-children">
                                <span>
                                    &#x2B22;
                                </span>
                                <img src="/static/assets/icon_member.svg">
                            </div>
                        </div>
                        <div class="centered-vertically achievement-header">
                            <h3>Members</h3>
                            <span></span>
                        </div>
                        <h4>Achieved 100 members</h4>
                    </div>
                    <div class="achievement">
                        <div class="achievement-icon centered-vertically">
                            <div class="centered-children">
                                <span>
                                    &#x2B22;
                                </span>
                                <img src="/static/assets/icon_member.svg">
                            </div>
                        </div>
                        <div class="centered-vertically achievement-header">
                            <h3>Members</h3>
                            <span></span>
                        </div>
                        <h4>Achieved 200 members</h4>
                    </div>
                    <div class="achievement">
                        <div class="achievement-icon centered-vertically">
                            <div class="centered-children">
                                <span>
                                    &#x2B22;
                                </span>
                                <img src="/static/assets/icon_host.svg">
                            </div>
                        </div>
                        <div class="centered-vertically achievement-header">
                            <h3>Hosts</h3>
                            <span>8/26/24</span>
                        </div>
                        <h4>Celebrated the 100th host</h4>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>