<!DOCTYPE html>
<html>
    <head>
        <title>Blitzmarine Database | Announcements</title>
        <link rel="icon" href="/static/assets/bm_logo_new.png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://lib.cadenchau.com/lib.css">
        <link rel="stylesheet" href="/static/styles/globals.css">
        <link rel="stylesheet" href="/static/styles/style.css">
        <script src="https://lib.cadenchau.com/lib.js"></script>
        <script src="/static/scripts/script.js"></script>
        <script src="/static/scripts/announcement_load.js"></script>
    </head>
    <body>
        <div class="navigation">
            <div class="centered-vertically">
                <a href="/about">About</a>
                <a href="/announcements">Announcements</a>
                <a href="/news">News</a>
            </div>
            <div class="centered-vertically">
                <a href="/" class="centered-vertically" style="gap: 0; text-decoration: none">
                    <img class="navigation-icon" src="/static/assets/icon_blitzmarine.png">
                    <h2 class="text-accent">Blitzmarine</h2>
                </a>
            </div>
            <div class="centered-vertically" style="justify-content: right;">
                <a href="/members">Members</a>
                <a href="/events">Events</a>
            </div>
        </div>
        <div class="content centered-children">
            <div class="wrapper">
                <h2>Announcements (<span id="announcementAmount"></span>)</h2>
                <div class="gap"></div>
                <div id="announcementsContainer"></div>
            </div>
        </div>
    </body>
</html>